.admin-panel {
    &__button {
      display: block;
      background-color: #61dafb;
      border: none;
      border-radius: 5px;
      color: white;
      width: 15%;
      margin: 10px auto;
      text-transform: uppercase;
      padding: 14px;
      cursor: pointer;
    }
}