.courses {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &__title {
    text-align: center;
    margin: 10px 0 20px 0;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }
}