.course-popup {
  display: flex;
  flex-direction: column;
  color: white;

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    color: white;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__form-row {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-around;
    color: white;

    &-label {
      span {
        font-size: 20px;
      }

      width: 100%;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      input {
        padding: 5px;
        border-radius: 10px;
        border: none;
        background-color: #282c34;
        color: #61dafb;

        &:focus {
          outline: none;
        }
      }
    }
  }

  &__cancel {
    background-color: crimson !important;
  }

  button {
    background-color: #61dafb;
    border: none;
    border-radius: 5px;
    color: white;
    width: 50%;
    padding: 6px;
    margin: 10px auto;
    text-transform: uppercase;
    cursor: pointer;
  }

  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    button {
      background-color: crimson;
      width: 25%;
      padding: 6px;
      margin: 0;
    }
  }

  //&__input {
  //  display: flex;
  //  flex-grow: 1;
  //}
}